@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
/* Table of Contents
  -----------------------------------------

  0. Reset
  	  0.0 - import normalize.css
  	  0.1 - *
  1. Global Styles
      1.1. html, body
      1.2. a
  2. Class specific styles
  	  2.1. header // .header
  	  2.2. .step-container
  	  
  	  	// CSS Transitions
  	  	2.2.1. on page load // .activated
  	  	2.2.2. specific step activated //.activated-[1-8]

  	  2.3. figure // .step
  	  2.4. opener text // .opener-text
  	  2.5. noscript // .noscript
  3. Media Queries (Touch-device styles)

  -----------------------------------------
  -----------------------------------------
*/
/* ---
  0.0
 --- */
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"], input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/* ---
  0.1 
 --- */
* {
  box-sizing: border-box; }

/* ---
  1.1 | html, body
 --- */
html, body {
  background: #2196F3;
  color: #fff;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* ---
  1.2 | a
 --- */
a {
  text-decoration: none;
  color: #FFEB3B; }

/* ---
  2.1 | header
 --- */
.header .title {
  text-align: center;
  padding: 0; }

/* ---
  2.2 | .step-container
 --- */
.step-container {
  display: block;
  width: 68vh;
  max-width: 90vw;
  height: 68vh;
  max-height: 90vw;
  position: relative;
  text-align: center;
  margin: 0 auto;
  -webkit-transform-origin: 50% 55% 0;
  transform-origin: 50% 55% 0;
  overflow: visible;
  -webkit-transform: rotate(90deg) scale(0.1);
  transform: rotate(90deg) scale(0.1); }

/* ---
  2.2.1 | .step-container activated
 --- */
.step-container.activate {
  transition: -webkit-transform 2s;
  transition: transform 2s;
  -webkit-transform: rotate(0deg) scale(1);
  transform: rotate(0deg) scale(1); }
  .step-container.activate > .step .step__count {
    pointer-events: auto; }

/* ---
  2.2.2 | // specific step activated
 --- */
.step-container.activate-1, .step-container.activate-2, .step-container.activate-3, .step-container.activate-4, .step-container.activate-5, .step-container.activate-6, .step-container.activate-7, .step-container.activate-8 {
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s; }
  .step-container.activate-1 > .step, .step-container.activate-2 > .step, .step-container.activate-3 > .step, .step-container.activate-4 > .step, .step-container.activate-5 > .step, .step-container.activate-6 > .step, .step-container.activate-7 > .step, .step-container.activate-8 > .step {
    transition: opacity 0.5s 0.8s;
    opacity: 0; }
    .step-container.activate-1 > .step .step__count, .step-container.activate-2 > .step .step__count, .step-container.activate-3 > .step .step__count, .step-container.activate-4 > .step .step__count, .step-container.activate-5 > .step .step__count, .step-container.activate-6 > .step .step__count, .step-container.activate-7 > .step .step__count, .step-container.activate-8 > .step .step__count {
      pointer-events: none; }
  .step-container.activate-1 .opener-text, .step-container.activate-2 .opener-text, .step-container.activate-3 .opener-text, .step-container.activate-4 .opener-text, .step-container.activate-5 .opener-text, .step-container.activate-6 .opener-text, .step-container.activate-7 .opener-text, .step-container.activate-8 .opener-text {
    transition: opacity 0.4s;
    opacity: 0; }
  .step-container.activate-1 > .step:nth-of-type(8), .step-container.activate-2 > .step:nth-of-type(8), .step-container.activate-3 > .step:nth-of-type(8), .step-container.activate-4 > .step:nth-of-type(8), .step-container.activate-5 > .step:nth-of-type(8), .step-container.activate-6 > .step:nth-of-type(8), .step-container.activate-7 > .step:nth-of-type(8), .step-container.activate-8 > .step:nth-of-type(8) {
    transition-delay: 800ms; }
  .step-container.activate-1 > .step:nth-of-type(7), .step-container.activate-2 > .step:nth-of-type(7), .step-container.activate-3 > .step:nth-of-type(7), .step-container.activate-4 > .step:nth-of-type(7), .step-container.activate-5 > .step:nth-of-type(7), .step-container.activate-6 > .step:nth-of-type(7), .step-container.activate-7 > .step:nth-of-type(7), .step-container.activate-8 > .step:nth-of-type(7) {
    transition-delay: 700ms; }
  .step-container.activate-1 > .step:nth-of-type(6), .step-container.activate-2 > .step:nth-of-type(6), .step-container.activate-3 > .step:nth-of-type(6), .step-container.activate-4 > .step:nth-of-type(6), .step-container.activate-5 > .step:nth-of-type(6), .step-container.activate-6 > .step:nth-of-type(6), .step-container.activate-7 > .step:nth-of-type(6), .step-container.activate-8 > .step:nth-of-type(6) {
    transition-delay: 600ms; }
  .step-container.activate-1 > .step:nth-of-type(5), .step-container.activate-2 > .step:nth-of-type(5), .step-container.activate-3 > .step:nth-of-type(5), .step-container.activate-4 > .step:nth-of-type(5), .step-container.activate-5 > .step:nth-of-type(5), .step-container.activate-6 > .step:nth-of-type(5), .step-container.activate-7 > .step:nth-of-type(5), .step-container.activate-8 > .step:nth-of-type(5) {
    transition-delay: 500ms; }
  .step-container.activate-1 > .step:nth-of-type(4), .step-container.activate-2 > .step:nth-of-type(4), .step-container.activate-3 > .step:nth-of-type(4), .step-container.activate-4 > .step:nth-of-type(4), .step-container.activate-5 > .step:nth-of-type(4), .step-container.activate-6 > .step:nth-of-type(4), .step-container.activate-7 > .step:nth-of-type(4), .step-container.activate-8 > .step:nth-of-type(4) {
    transition-delay: 400ms; }
  .step-container.activate-1 > .step:nth-of-type(3), .step-container.activate-2 > .step:nth-of-type(3), .step-container.activate-3 > .step:nth-of-type(3), .step-container.activate-4 > .step:nth-of-type(3), .step-container.activate-5 > .step:nth-of-type(3), .step-container.activate-6 > .step:nth-of-type(3), .step-container.activate-7 > .step:nth-of-type(3), .step-container.activate-8 > .step:nth-of-type(3) {
    transition-delay: 300ms; }
  .step-container.activate-1 > .step:nth-of-type(2), .step-container.activate-2 > .step:nth-of-type(2), .step-container.activate-3 > .step:nth-of-type(2), .step-container.activate-4 > .step:nth-of-type(2), .step-container.activate-5 > .step:nth-of-type(2), .step-container.activate-6 > .step:nth-of-type(2), .step-container.activate-7 > .step:nth-of-type(2), .step-container.activate-8 > .step:nth-of-type(2) {
    transition-delay: 200ms; }

.step-container.activate-1 > .step:nth-of-type(1) {
  opacity: 1;
  transition: opacity 0.6s 0s; }
  .step-container.activate-1 > .step:nth-of-type(1) .step__count {
    background: #fff;
    color: #222; }
  .step-container.activate-1 > .step:nth-of-type(1) .step__title, .step-container.activate-1 > .step:nth-of-type(1) .step__description {
    visibility: visible;
    opacity: 1;
    pointer-events: auto; }

.step-container.activate-2 {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg); }
  .step-container.activate-2 > .step:nth-of-type(2) {
    opacity: 1;
    transition: opacity 0.6s 0s; }
    .step-container.activate-2 > .step:nth-of-type(2) .step__count {
      background: #fff;
      color: #222; }
    .step-container.activate-2 > .step:nth-of-type(2) .step__title, .step-container.activate-2 > .step:nth-of-type(2) .step__description {
      visibility: visible;
      opacity: 1;
      pointer-events: auto; }

.step-container.activate-3 {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg); }
  .step-container.activate-3 > .step:nth-of-type(3) {
    opacity: 1;
    transition: opacity 0.6s 0s; }
    .step-container.activate-3 > .step:nth-of-type(3) .step__count {
      background: #fff;
      color: #222; }
    .step-container.activate-3 > .step:nth-of-type(3) .step__title, .step-container.activate-3 > .step:nth-of-type(3) .step__description {
      visibility: visible;
      opacity: 1;
      pointer-events: auto; }

.step-container.activate-4 {
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg); }
  .step-container.activate-4 > .step:nth-of-type(4) {
    opacity: 1;
    transition: opacity 0.6s 0s; }
    .step-container.activate-4 > .step:nth-of-type(4) .step__count {
      background: #fff;
      color: #222; }
    .step-container.activate-4 > .step:nth-of-type(4) .step__title, .step-container.activate-4 > .step:nth-of-type(4) .step__description {
      visibility: visible;
      opacity: 1;
      pointer-events: auto; }

.step-container.activate-5 {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg); }
  .step-container.activate-5 > .step:nth-of-type(5) {
    opacity: 1;
    transition: opacity 0.6s 0s; }
    .step-container.activate-5 > .step:nth-of-type(5) .step__count {
      background: #fff;
      color: #222; }
    .step-container.activate-5 > .step:nth-of-type(5) .step__title, .step-container.activate-5 > .step:nth-of-type(5) .step__description {
      visibility: visible;
      opacity: 1;
      pointer-events: auto; }

.step-container.activate-6 {
  -webkit-transform: rotate(-225deg);
  transform: rotate(-225deg); }
  .step-container.activate-6 > .step:nth-of-type(6) {
    opacity: 1;
    transition: opacity 0.6s 0s; }
    .step-container.activate-6 > .step:nth-of-type(6) .step__count {
      background: #fff;
      color: #222; }
    .step-container.activate-6 > .step:nth-of-type(6) .step__title, .step-container.activate-6 > .step:nth-of-type(6) .step__description {
      visibility: visible;
      opacity: 1;
      pointer-events: auto; }

.step-container.activate-7 {
  -webkit-transform: rotate(-270deg);
  transform: rotate(-270deg); }
  .step-container.activate-7 > .step:nth-of-type(7) {
    opacity: 1;
    transition: opacity 0.6s 0s; }
    .step-container.activate-7 > .step:nth-of-type(7) .step__count {
      background: #fff;
      color: #222; }
    .step-container.activate-7 > .step:nth-of-type(7) .step__title, .step-container.activate-7 > .step:nth-of-type(7) .step__description {
      visibility: visible;
      opacity: 1;
      pointer-events: auto; }

.step-container.activate-8 {
  -webkit-transform: rotate(-315deg);
  transform: rotate(-315deg); }
  .step-container.activate-8 > .step:nth-of-type(8) {
    opacity: 1;
    transition: opacity 0.6s 0s; }
    .step-container.activate-8 > .step:nth-of-type(8) .step__count {
      background: #fff;
      color: #222; }
    .step-container.activate-8 > .step:nth-of-type(8) .step__title, .step-container.activate-8 > .step:nth-of-type(8) .step__description {
      visibility: visible;
      opacity: 1;
      pointer-events: auto; }

.step-container.deactivate {
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg); }
  .step-container.deactivate > .step {
    transition: opacity 0.3s 0.7s;
    opacity: 1; }
    .step-container.deactivate > .step .step__title, .step-container.deactivate > .step .step__description {
      visibility: visible;
      transition: opacity 0.5s;
      opacity: 0; }

/* ---
  2.2 | .step (figure)
 --- */
.step-container > .step {
  display: inline-block;
  text-align: center;
  position: absolute;
  pointer-events: none;
  transition: opacity 0.4s;
  width: 100%;
  height: 100%;
  margin-left: -50%;
  z-index: -1; }
  .step-container > .step:nth-of-type(2) {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }
  .step-container > .step:nth-of-type(3) {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg); }
  .step-container > .step:nth-of-type(4) {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg); }
  .step-container > .step:nth-of-type(5) {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); }
  .step-container > .step:nth-of-type(6) {
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg); }
  .step-container > .step:nth-of-type(7) {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg); }
  .step-container > .step:nth-of-type(8) {
    -webkit-transform: rotate(315deg);
    transform: rotate(315deg); }
  .step-container > .step .step__count {
    border: 1px solid #fff;
    border-radius: 100px;
    cursor: pointer;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    padding: 0px;
    position: relative;
    pointer-events: auto;
    text-align: center;
    width: 50px;
    font-size: 2rem;
    z-index: 5; }
    .step-container > .step .step__count:hover {
      transition: background 0.5s, color 0.5s;
      background: #fff;
      color: #222; }
  .step-container > .step .step__title {
    display: block;
    font-weight: 900;
    margin: 15px 0;
    opacity: 0;
    padding: 0;
    position: relative;
    pointer-events: none;
    text-align: center;
    transition: opacity 1.5s 0.5s;
    visibility: hidden;
    z-index: -1; }
  .step-container > .step .step__description {
    font-size: 0.9rem;
    color: #eee;
    position: relative;
    pointer-events: none;
    text-align: left;
    transition: opacity 1s 1.5s;
    opacity: 0;
    visibility: hidden;
    z-index: -1; }
  .step-container > .step .step__exit, .step-container > .step .activate_next_step {
    position: absolute;
    bottom: -80px;
    cursor: pointer;
    left: 0;
    height: 40px;
    width: 40px;
    border-radius: 50px;
    border: 2px solid #F6C8C8;
    text-align: center;
    padding-top: 1px;
    transition: -webkit-transform 0.2s, opacity 0.2s;
    transition: transform 0.2s, opacity 0.2s;
    opacity: 0.9;
    will-change: transform; }
    .step-container > .step .step__exit:hover, .step-container > .step .activate_next_step:hover {
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
      opacity: 1; }
      .step-container > .step .step__exit:hover .deactivate_step_bar, .step-container > .step .activate_next_step:hover .deactivate_step_bar {
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg); }
      .step-container > .step .step__exit:hover.activate_next_step .next_container, .step-container > .step .activate_next_step:hover.activate_next_step .next_container {
        -webkit-animation: sizor 0.4s 4 alternate;
        animation: sizor 0.4s 4 alternate;
        -webkit-transform-origin: 50% 63%;
        transform-origin: 50% 63%; }

@-webkit-keyframes sizor {
  100% {
    -webkit-transform: scale(1.2, 0.85);
    transform: scale(1.2, 0.85); } }

@keyframes sizor {
  100% {
    -webkit-transform: scale(1.2, 0.85);
    transform: scale(1.2, 0.85); } }
    .step-container > .step .step__exit .deactivate_step_bar, .step-container > .step .step__exit .activate_step_bar, .step-container > .step .activate_next_step .deactivate_step_bar, .step-container > .step .activate_next_step .activate_step_bar {
      width: 20px;
      height: 3px;
      background: #FFD0CE;
      display: inline-block;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      transition: -webkit-transform 0.2s;
      transition: transform 0.2s; }
      .step-container > .step .step__exit .deactivate_step_bar:after, .step-container > .step .step__exit .activate_step_bar:after, .step-container > .step .activate_next_step .deactivate_step_bar:after, .step-container > .step .activate_next_step .activate_step_bar:after {
        position: absolute;
        content: '';
        display: inline-block;
        width: 20px;
        height: 3px;
        background: #FFD0CE;
        left: 0;
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        transition: -webkit-transform 0.2s;
        transition: transform 0.2s; }
  .step-container > .step .activate_next_step {
    right: 0;
    left: auto;
    border-color: #C5FFDC;
    overflow: visible; }
    .step-container > .step .activate_next_step .next_container {
      display: block;
      position: relative;
      width: 40px;
      height: 40px;
      overflow: visible;
      bottom: 2px;
      right: 1px; }
    .step-container > .step .activate_next_step .activate_step_bar {
      width: 10px;
      background: #C5FFDC; }
      .step-container > .step .activate_next_step .activate_step_bar:after {
        width: 10px;
        background: #C5FFDC;
        left: 3px;
        top: 3px;
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        transition: -webkit-transform 0.2s;
        transition: transform 0.2s; }

/* ---
  2.4 | Opener Text
 --- */
.opener-text {
  position: absolute;
  width: 100%;
  height: 10vh;
  top: calc(50% - 10vh);
  left: 0;
  padding: 0;
  text-align: center;
  z-index: 0;
  display: block;
  pointer-events: none;
  transition: opacity 0.5s 1s;
  opacity: 1; }
  .opener-text .eight {
    font-size: 3rem;
    display: block; }
  .opener-text .getting-started {
    text-transform: uppercase; }
  .opener-text .tips {
    font-size: 2rem;
    display: block;
    text-transform: uppercase;
    font-weight: 800; }

/* ---
  2.5 | Noscript
 --- */
.noscript {
  width: 90%;
  margin: auto;
  padding: 20px;
  background: #333;
  color: #fff;
  text-align: center;
  font-size: 1.2rem; }

/* ---
  3.1 | Media queries
 --- */
@media (max-width: 539px), (max-height: 459px) {
  html, body {
    overflow: scroll; }
  .step-container.activate {
    transition: none;
    -webkit-transform: rotate(0deg) !important;
    transform: rotate(0deg) !important;
    width: 100%; }
  .step-container > .step {
    background: rgba(255, 255, 255, 0.1);
    display: block;
    height: auto;
    margin: 10px 0;
    padding: 15px;
    position: relative;
    -webkit-transform: none !important;
    transform: none !important;
    width: 100%;
    opacity: 1 !important; }
    .step-container > .step .step__title, .step-container > .step .step__description {
      visibility: visible !important;
      opacity: 1 !important;
      pointer-events: auto; }
    .step-container > .step .step__exit, .step-container > .step .activate_next_step {
      display: none; }
  .step-container .opener-text {
    position: relative;
    margin-bottom: 50px;
    top: 0;
    height: auto;
    width: 100%; } }
