@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
/* Table of Contents
  -----------------------------------------

  0. Reset
  	  0.0 - import normalize.css
  	  0.1 - *
  1. Global Styles
      1.1. html, body
      1.2. a
  2. Class specific styles
  	  2.1. header // .header
  	  2.2. .step-container
  	  
  	  	// CSS Transitions
  	  	2.2.1. on page load // .activated
  	  	2.2.2. specific step activated //.activated-[1-8]

  	  2.3. figure // .step
  	  2.4. opener text // .opener-text
  	  2.5. noscript // .noscript
  3. Media Queries (Touch-device styles)

  -----------------------------------------
  -----------------------------------------
*/


/* ---
  0.0
 --- */
@import '../bower_components/normalize.css/normalize';


/* ---
  0.1 
 --- */
* {
	box-sizing: border-box;
}


/* ---
  1.1 | html, body
 --- */
html,body {
	
	background: #2196F3;
	color: #fff;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 20px;
	overflow: hidden;
	margin: 0;
	padding: 0;
	height: 100%;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* ---
  1.2 | a
 --- */
a {
	text-decoration: none;
	color: #FFEB3B;
}





/* ---
  2.1 | header
 --- */
.header {
	.title{
		text-align: center;
		padding: 0;
	}
}




/* ---
  2.2 | .step-container
 --- */
.step-container {
	
	display: block;
	
	width: 68vh;
	max-width: 90vw;
	
	height: 68vh;
	max-height: 90vw;
	position: relative;
	text-align: center;
	margin: 0 auto;
	transform-origin: 50% 55% 0;
	overflow: visible;
	transform: rotate(90deg) scale(0.1);
}


/* ---
  2.2.1 | .step-container activated
 --- */
.step-container.activate{
	transition: transform 2s;
	transform: rotate(0deg) scale(1);
	& > .step {
		// pointer-events: none;
		.step__count{
			pointer-events: auto;
		}
	}
}

/* ---
  2.2.2 | // specific step activated
 --- */
.step-container {
	&.activate-1, &.activate-2, &.activate-3, &.activate-4, &.activate-5, &.activate-6, &.activate-7, &.activate-8 {
		transition: transform .5s;
		& > .step {
 			transition: opacity .5s .8s;
 			opacity: 0;
 			.step__count{
 				pointer-events: none;
 			}
 		}
 		.opener-text{
 			transition: opacity .4s;
 			opacity: 0;
 		}

 		$i: 8;
		@while $i > 1 {
		  & > .step:nth-of-type(#{$i}) {
		  	transition-delay: #{$i}00ms;
		  }
		  $i: $i - 1;
		}
	}

	&.activate-1{

 		& > .step:nth-of-type(1){
 			opacity: 1;
 			transition: opacity .6s 0s;
 			
 			.step__count{
 				background: #fff;
 				color: #222;
 			}
 			.step__title, .step__description{
 				visibility: visible;
 				opacity: 1;
 				pointer-events: auto;
 			}
 		}

	}

	&.activate-2{
		
		transform: rotate(-45deg);

 		& > .step:nth-of-type(2){
 			opacity: 1;
 		 	transition: opacity .6s 0s;

 			.step__count{
 				background: #fff;
 				color: #222;
 			}
 			.step__title, .step__description{
 				visibility: visible;
 				opacity: 1;
 				pointer-events: auto;
 			}
 		}


	}

	&.activate-3{

		transform: rotate(-90deg);

 		& > .step:nth-of-type(3){
 			opacity: 1;
 			transition: opacity .6s 0s;

 			
 			.step__count{
 				background: #fff;
 				color: #222;
 			}
 			.step__title, .step__description{
 				visibility: visible;
 				opacity: 1;
 				pointer-events: auto;
 			}
 		}

	}

	&.activate-4{
		
		transform: rotate(-135deg);
		
 		
 		& > .step:nth-of-type(4){
 			opacity: 1;
			transition: opacity .6s 0s;


 			.step__count{
 				background: #fff;
 				color: #222;
 			}

 			.step__title, .step__description{
 				visibility: visible;
 				opacity: 1;
 				pointer-events: auto;
 			}
 		}

	}

	&.activate-5{
		
		transform: rotate(-180deg);

 		& > .step:nth-of-type(5){
 			opacity: 1;
			transition: opacity .6s 0s;


 			.step__count{
 				background: #fff;
 				color: #222;
 			}

 			.step__title, .step__description{
 				visibility: visible;
 				opacity: 1;
 				pointer-events: auto;
 			}
 		}

	}

	&.activate-6{
		
		transform: rotate(-225deg);
 	
 		& > .step:nth-of-type(6){
 			opacity: 1;
			transition: opacity .6s 0s;

 			.step__count{
 				background: #fff;
 				color: #222;
 			}

 			.step__title, .step__description{
 				visibility: visible;
 				opacity: 1;
 				pointer-events: auto;
 			}
 		}

	}

	&.activate-7{
		
		transform: rotate(-270deg);

 		& > .step:nth-of-type(7){
 			opacity: 1;
			transition: opacity .6s 0s;

 			.step__count{
 				background: #fff;
 				color: #222;
 			}

 			.step__title, .step__description{
 				visibility: visible;
 				opacity: 1;
 				pointer-events: auto;
 			}
 		}

	}

	&.activate-8{
		
		transform: rotate(-315deg);

 		& > .step:nth-of-type(8){
 			opacity: 1;
			transition: opacity .6s 0s;

 			.step__count{
 				background: #fff;
 				color: #222;
 			}

 			.step__title, .step__description{
 				visibility: visible;
 				opacity: 1;
 				pointer-events: auto;
 			}
 		}

	}

	&.deactivate {
		transition: transform .5s;
		transform: rotate(0deg);

		& > .step {
			transition: opacity .3s .7s;
			opacity: 1;
			.step__title, .step__description{
				visibility: visible;
 				transition: opacity .5s;
 				opacity: 0;
 			}
 		}
	}
}


/* ---
  2.2 | .step (figure)
 --- */

 .step-container > .step {

	display: inline-block;

 	text-align: center;
 	position: absolute;
 	pointer-events: none;
 	transition: opacity .4s;


 	
 	width: 100%;
 	height: 100%;

 	margin-left: -50%;

 	z-index: -1;

 	&:nth-of-type(2){
 		transform: rotate(45deg);
 	}
	&:nth-of-type(3){
 		transform: rotate(90deg);
 	}
	&:nth-of-type(4){
 		transform: rotate(135deg);
 	}
 	&:nth-of-type(5){
 		transform: rotate(180deg);
 	}
 	&:nth-of-type(6){
 		transform: rotate(225deg);
 	}
 	&:nth-of-type(7){
 		transform: rotate(270deg);
 	}
 	&:nth-of-type(8){
 		transform: rotate(315deg);
 	}



 	.step__count {
 		
 		border: 1px solid #fff;
 		border-radius: 100px;
 		cursor: pointer;
 		display: inline-block;

		height: 50px;
		line-height: 50px;
 		padding: 0px;
 		position: relative;
 		pointer-events: auto;
		text-align: center;
		width:  50px;
		font-size: 2rem;
		z-index: 5;

		&:hover{
			transition: background .5s, color .5s;
			background: #fff;
			color: #222;
		}

 	}
 	.step__title {
 		display: block;
 		font-weight: 900;
 		margin: 15px 0;
 		opacity: 0;
 		padding: 0;
 		position: relative;
 		pointer-events: none;
 		text-align: center;
 		transition: opacity 1.5s .5s;
 		visibility: hidden;
 		z-index: -1;
 	}
 	.step__description {
 		font-size: 0.9rem;
 		color: #eee;
 		position: relative;
 		pointer-events: none;
 		text-align: left;
 		transition: opacity 1s 1.5s;
 		opacity: 0;
 		visibility: hidden;
 		z-index: -1;
 	}
 	.step__exit, .activate_next_step{
 		position: absolute;
 		bottom: -80px;
 		cursor: pointer;
 		left: 0;
 		height: 40px;
 		width: 40px;
 		border-radius: 50px;
 		border: 2px solid #F6C8C8;
 		text-align: center;
 		padding-top: 1px;
 		transition: transform .2s, opacity .2s;
 		opacity: 0.9;
 		will-change: transform;

 		&:hover{
 			transform: scale(1.2);
 			opacity: 1;

 			.deactivate_step_bar{
 				transform: rotate(135deg);

 				&:after{
 				}
 			}
 			&.activate_next_step{
 				.next_container{
 					animation: sizor .4s 4 alternate;
 					transform-origin: 50% 63%;
 					@keyframes sizor {
 						100%{
 							transform: scale(1.2,.85);
 						}
 					}
 				}
 			}
 		}

 		.deactivate_step_bar, .activate_step_bar{
 			width: 20px;
 			height: 3px;
 			background: #FFD0CE;
 			display: inline-block;
 			transform: rotate(45deg);
 			transition: transform .2s;
 			&:after{
 				position: absolute;
 				content: '';
 				display: inline-block;
 				width: 20px;
 				height: 3px;
 				background: #FFD0CE;
 				left: 0;
 				transform: rotate(90deg);
 				transition: transform .2s;
 			}
 		}
 	}
 	.activate_next_step{
 		right: 0;
 		left: auto;
 		border-color: #C5FFDC;
 		overflow: visible;

 		.next_container{
 			display: block;
 			position: relative;
 			width: 40px;
 			height: 40px;
 			overflow: visible;
 			bottom: 2px;
 			right: 1px;
 		}
 		.activate_step_bar{
 	
 			width: 10px;
 			background: #C5FFDC;

 			&:after{
 				
 				width: 10px;
 				background: #C5FFDC;
 				left: 3px;
 				top: 3px;
 				transform: rotate(90deg);
 				transition: transform .2s;
 			}
 		}
 	}
}

/* ---
  2.4 | Opener Text
 --- */
.opener-text{
	position: absolute;
	width: 100%;
	height: 10vh;
	top: calc(50% - 10vh);
	left:0;
	padding: 0;
	text-align: center;
	z-index: 0;
	display: block;
	pointer-events: none;
	transition: opacity .5s 1s;
	opacity: 1;

	.eight{
		font-size: 3rem;
		display: block;
	}
	.getting-started{
		text-transform: uppercase;
	}
	.tips{
		font-size: 2rem;
		display: block;
		text-transform: uppercase;
		font-weight: 800;
	}

}

/* ---
  2.5 | Noscript
 --- */
.noscript{
	width: 90%;
	margin: auto;
	padding: 20px;
	background: #333;
	color: #fff;
	text-align: center;
	font-size: 1.2rem;
}

/* ---
  3.1 | Media queries
 --- */
@media (max-width:539px), (max-height: 459px) {		
	html,body{
		overflow: scroll;
	}

	.step-container {
		&.activate{
			transition: none;
			transform: rotate(0deg) !important;
			width: 100%;
		}
	}

	.step-container > .step {
		
		background: rgba(255,255,255,.1);
		
		display: block;
		height: auto;
		
		margin: 10px 0;

		padding: 15px;
		position: relative;

		transform: none !important;

		width: 100%;
		opacity: 1 !important;



		.step__title, .step__description {
 			visibility: visible !important;
 			opacity: 1 !important;
 			pointer-events: auto;
		}
		.step__exit, .activate_next_step{
			display: none;
		}

		
	}

	.step-container {
		.opener-text{
			position: relative;
			margin-bottom: 50px;
			top: 0;
			height: auto;
			width: 100%;
		}
	}
}



